apiVersion: constraints.gatekeeper.sh/v1beta1
kind: <Kind>
metadata:
  name: <name>
  annotations:
    rulehub.id: <domain>.<policy_id>
spec:
  match:
    kinds:
    - apiGroups: ["*"]
      kinds: ["*"]
    namespaces: ["*"]
  parameters:
    <param1>: <value>
