# yaml-language-server: $schema=../../../tools/schemas/policy-metadata.schema.json
id: <domain>.<policy_id>
name: <Policy Title>
path:
- policies/<domain>/<policy_id>/policy.rego
- policies/<domain>/<policy_id>/policy_test.rego
description: <Short description of the policy>
standard:
  name: <Standard or Regulation>
  version: <version or "current">
links:
- <https://link-to-reference-1>
- <https://link-to-reference-2>
geo:
  regions:
  - Global
  countries:
  - '*'
  subregions: []
  scope: Global
jurisdiction:
- Global
